<div class="Cart__Container">
    <h2>{{Messager}}</h2>
    <h3>GIỎ HÀNG</h3>
    <div class="Cart__Body">
        <div class="Cart__Products">
            <div class="Cart__Products-Header">
                <div class="Checkbox__All-Product">
                    <input type="checkbox" name="" class="checkbox" id="checkbox__all-product" (click)="onCheckAll()">
                </div>
                <span>Chọn tất cả (1 sản phẩm)</span>
                <div class="Title__Count">Số lượng</div>
                <div class="Title__Price">Giá</div>
                <div style="flex-basis: 5%;"></div>
            </div>
            <div class="Cart__Products-Body" *ngFor="let book of ArrayBook;let i = index">
                <div class="Cart__Products-item">
                    <div class="checkbox__product">
                        <input type="checkbox" name="" class="checkbox" id="checkbox__product">
                    </div>
                    <div class="imgbook">
                        <img src="{{book[0].Anh}}" class="Img__Book" alt="">
                    </div>
                    <a class="Cart__Products-BookName">
                        {{book[0].Mota}}
                    </a>
                    <div class="Cart__Products-group-product-info">

                        <div class="Cart__Products-Count">
                            <div class="Cart__Products-Button">
                                <button (click)="lessProducts(i)">
                                    <img src="https://frontend.tikicdn.com/_desktop-next/static/img/pdp_revamp_v2/icons-remove.svg"
                                        alt="remove-icon" width="20" height="20">
                                </button>
                                <input type="text" value="{{Arraylength[i]}}" id="inputNum" placeholder="1"
                                    class="input">
                                <button (click)="moreProducts(i)">
                                    <img src="https://frontend.tikicdn.com/_desktop-next/static/img/pdp_revamp_v2/icons-add.svg"
                                        alt="add-icon" width="20" height="20">
                                </button>
                            </div>
                        </div>
                        <span>{{book[0].Giaban * Arraylength[i]|number:'1.3'}}đ</span>
                        <mat-icon (click)="delete(book[0].id)">remove_shopping_cart</mat-icon>
                    </div>

                </div>
            </div>
            <div class="Cart__Products-Footer" *ngIf="ifAllCheck()" (click)="onDeleteAll()">
                Xóa Tất Cả
            </div>
        </div>
        <div class="Cart__Bill">
            <h2>HÓA ĐƠN</h2>
            <div class="Cart__Bill-Info">
                <span class="Cart__Bill-Info-Name">
                    Tên: {{name}}
                </span>
                <span class="Cart__Bill-Info-BillID">
                    Mã Giao Dịch: E0534
                </span>
                <span class="Cart__Bill-Info-Date">
                    Ngày Giao Dịch: {{Date}}
                </span>
            </div>
            <div class="Cart__Bill-Pay">
                <div class="Cart__Bill-Pay-Price">
                    Tổng <span>{{Total|number:'1.3'}}đ</span>
                </div>
                <div class="Cart__Bill-Pay-BtnPay" (click)="DatHang()">
                    Thanh Toán
                </div>
            </div>
        </div>
    </div>
</div>