<div class="DialogDetailsPay__Container" id="DialogDetailsPay__Container">
    <div class="DialogDetailsPay">
        <div class="DialogDetailsPay__CloseBtn" (click)="closeDialog()">
            <mat-icon>highlight_off</mat-icon>
        </div>
        <div class="DialogDetailsPay__infoUser">
            <h1>THÔNG TIN ĐƠN HÀNG</h1>
            <div class="DialogDetailsPay__infoUser-Details" *ngFor="let donhang of DonHanglistByID">
                <span>
                    <span style="font-weight: bold;">Tên Khách Hàng: </span>{{donhang.HoTen}}
                </span>
                <span>
                    <span style="font-weight: bold;">Mã Đơn Hàng: </span> {{donhang.id}}
                </span>
                <span>
                    <span style="font-weight: bold;">Ngày Đặt Hàng: </span> {{donhang.Ngaydat | date: 'dd/MM/yyyy'}}
                </span>
                <span>
                    <span style="font-weight: bold;">Tổng Tiền: </span><span style="color: red; font-weight: 600;">
                        {{donhang.TongTien|number:'1.3'}} đ</span>
                </span>
                <span *ngIf="!donhang.Tinhtranggiaohang">
                    <span style="font-weight: bold;">Tình Trạng: </span><span style="color: red; font-weight: 600;">
                        Chưa Giao Hàng</span>
                </span>
                <span *ngIf="donhang.Tinhtranggiaohang">
                    <span style="font-weight: bold;">Tình Trạng: </span><span
                        style="color: rgba(12, 134, 1, 0.767); font-weight: 600;">
                        Đã Giao Hàng</span>
                </span>
            </div>
        </div>
        <div class="DialogDetailsPay__infoPay">
            <div class="DialogDetailsPay__Title-Image">Ảnh</div>
            <div class="DialogDetailsPay__Title-BookName">Tên Sách</div>
            <div class="DialogDetailsPay__Title-Count">Số Lượng</div>
            <div class="DialogDetailsPay__Title-Price">Thành Tiền</div>
        </div>
        <div class="DialogDetailsPay__infoPay-Details"
            *ngFor="let book of BookByDonHang | paginate: { itemsPerPage: 2, currentPage: pdialog }">
            <div class="DialogDetailsPay__Image">
                <img src="{{book.Anhbia}}" alt="">
            </div>
            <div class="DialogDetailsPay__BookName">{{book.Tensach}}</div>
            <div class="DialogDetailsPay__Count">{{book.Soluong}}</div>
            <div class="DialogDetailsPay__Price">{{book.Dongia * book.Soluong |number:'1.3'}} đ</div>
        </div>
        <pagination-controls class="my-pagination" (pageChange)="pdialog = $event">
        </pagination-controls>
    </div>
</div>
<div class="Admin__Container">

    <mat-tab-group>
        <mat-tab label="Tài Khoản">
            <mat-label>{{select}}</mat-label>
            <mat-select>
                <mat-option (click)="ChooseUser()">Khách Hàng</mat-option>
                <mat-option (click)="ChooseAdmin()">Admin</mat-option>
            </mat-select>
            <div class="Admin__Account-Header">
                <div class="Checkbox__All-Account">
                    <input type="checkbox" name="" class="checkbox" id="checkbox__all-account" (click)="onCheckAll()">
                    All
                </div>
                <div class="Title__info">
                    <div class="Title__username">Tài Khoản</div>
                    <div class="Title__email">Email</div>
                    <div class="Title__role" (click)="sort()">Loại Tài Khoản</div>
                </div>
                <div class="Title__setting">Thiết Lập</div>
            </div>
            <div class="Admin__Account-Body">
                <div class="Admin__Account-Account-Details"
                    *ngFor="let user of user  |orderBy: key :reverse | paginate: { itemsPerPage: 3, currentPage: p }">
                    <div class="Checkbox__Account">
                        <input type="checkbox" name="" class="checkbox" id="checkbox__account">
                    </div>
                    <div class="User__info">
                        <div class="User__username">{{user.Taikhoan}}</div>
                        <div class="User__email" *ngIf="user.Email !=null">{{user.Email}}</div>
                        <div class="User__email" *ngIf="user.Email ==null">Chưa Cập Nhật Email</div>
                        <div class="User__role" *ngIf="user.Role">Admin</div>
                        <div class="User__role" *ngIf="!user.Role">Khách</div>
                    </div>

                    <div class="User__setting">Thiết Lập</div>
                </div>
                <pagination-controls class="my-pagination" (pageChange)="p = $event">
                </pagination-controls>
                <div class="UpdateAll__Setting" *ngIf="ifCheckAll()">
                    Thay Đổi Toàn Bộ
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Lịch Sử Giao Dịch">
            <div class="Admin__HistoryPay-Header">
                <div class="Title__infoPay">
                    <div class="Title__BillID">Mã Đơn</div>
                    <div class="Title__Username">Tên Khách</div>
                    <div class="Title__role">Thời Gian Đặt</div>
                </div>
                <div class="Title__Setting">Thiết Lập</div>
            </div>
            <div class="Admin__HistoryPay-Body">
                <div class="Admin__HistoryPay-Details" *ngFor="let DonHang of DonHanglist">
                    <div class="Bill__infoPay">
                        <div class="Bill__BillID">{{DonHang.id}}</div>
                        <div class="Bill__Username">{{DonHang.HoTen}}</div>
                        <div class="Bill__DatePay">{{DonHang.Ngaydat | date: 'dd/MM/yyyy'}}</div>
                    </div>
                    <div class="Bill__Setting">
                        <div class="Bill__Setting-details" (click)="showDialog(DonHang.id)">
                            Chi Tiết
                        </div>
                    </div>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Thiết Lập"> Content 3 </mat-tab>
    </mat-tab-group>
</div>