
<mat-tab-group>
    <mat-tab label="Thông tin cá nhân">
        <div class="center">
            <form method="post" action="#">
                <h3> Thông tin cá nhân </h3>
                <div class="txt_field">
                    <input type="text" name="hovaten" id="" autocomplete="off" required [(ngModel)]="hovaten">
                    <label for="label-account">Họ và tên</label>
                </div>
                <div class="txt_field">
                    <input type="text" name="Email" id="" autocomplete="off" required [(ngModel)]="Email">
                    <label for="label-account">Email</label>
                </div>
                <div class="txt_field">
                    <input type="text" name="diachi" id="" autocomplete="off" required [(ngModel)]="diachi">
                    <label for="label-account">Địa chỉ khách hàng</label>
                </div>
                <div class="txt_field">
                    <input type="text" name="sdt" id="" autocomplete="off" required [(ngModel)]="sdt">
                    <label for="label-account">Số điện thoại</label>
                </div>
                <div class="txt_field">
                    <input type="date" name="date" id="" autocomplete="off" required [(ngModel)]="date">
                    <label for="label-account"></label>
                </div>
                <input type="submit" name="" value="Cập nhật" (click)="clickme()">
            </form>
        </div>
    </mat-tab>


    <mat-tab label="Đổi mật khẩu">
        <div class="center">
            <form method="post" action="#">
                <h3> Đổi mật khẩu  </h3>
                <div class="txt_field">
                    <input type="password" name="matkhauhientai" id="" autocomplete="off" required [(ngModel)]="matkhauhientai">
                    <label for="label-account">Mật khẩu hiện tại</label>
                </div>
                <div class="txt_field">
                    <input type="password" name="matkhaumoi" id="" autocomplete="off" required [(ngModel)]="matkhaumoi">
                    <label for="label-account">Mật khẩu mới</label>
                </div>
                <div class="txt_field">
                    <input type="password" name="xacnhanmatkhau" id="" autocomplete="off" required [(ngModel)]="xacnhanmatkhau">
                    <label for="label-account">Xác nhận mật khẩu</label>
                </div>
                
                <input type="submit" name="" value="Cập nhật" (click)="UpdataPass()">
            </form>
        </div>
    </mat-tab>

</mat-tab-group>

