<div class="container">
    <div class="Book__details">
        <div class="Book__image">
            <img src="https://salt.tikicdn.com/cache/400x400/ts/product/fe/b2/11/255cf919ed7a9291b92fcf3e74be03b0.jpg.webp" alt="">
        </div>
        <div class="Book__info">
            <div class="Book__info-Name">
                Súng, Vi Trùng Và Thép (Tái Bản 2020)
            </div>
            <div class="Book__info-Author">
                <span>Tác giả: Jared Diamond, Jared Diamond</span>
            </div>
            <div class="Book__info-Pay">
                <span>Số Lượng</span>
                <div class="Book__info-Count">
                    <div class="Book__info-Button">
                       <button (click)="lessProducts()">
                            <img src="https://frontend.tikicdn.com/_desktop-next/static/img/pdp_revamp_v2/icons-remove.svg" alt="remove-icon" width="20" height="20">
                       </button>
                       <input type="text" value="{{number}}" placeholder="1" class="input">
                       <button (click)="moreProducts()">
                        <img src="https://frontend.tikicdn.com/_desktop-next/static/img/pdp_revamp_v2/icons-add.svg" alt="add-icon" width="20" height="20">
                       </button>
                    </div>
                </div>
                <div class="Book__info-btnCart">
                    <span>Chọn Mua</span>
                </div>
            </div>
        </div>
    </div>
</div>
