<div class="container">
    <div class="Book__details">
        <div class="Book__image">
            <img src="https://salt.tikicdn.com/cache/400x400/ts/product/fe/b2/11/255cf919ed7a9291b92fcf3e74be03b0.jpg.webp" alt="">
        </div>
        <div class="Book__info">
            <div class="Book__info-Name">
                Súng, Vi Trùng Và Thép (Tái Bản 2020)
            </div>
            <div class="Book__info-Author">
                <span>Tác giả: <b>Jared Diamond, Jared Diamond</b> </span>
            </div>
            <div class="Book__info-Publishing-company">
                <span>Nhà xuất bản: <b>Phụ Nữ</b> </span>
            </div>
            <div class="Book__info-Price">
                <b class="price">161.400đ</b>
            </div>
            <div class="Book__info-Pay">
                <b>Số Lượng:</b>
                <div class="Book__info-Count">
                    <div class="Book__info-Button">
                       <button (click)="lessProducts()">
                            <img src="https://frontend.tikicdn.com/_desktop-next/static/img/pdp_revamp_v2/icons-remove.svg" alt="remove-icon" width="20" height="20">
                       </button>
                       <input type="text" value="{{number}}" placeholder="1" class="input">
                       <button (click)="moreProducts()">
                        <img src="https://frontend.tikicdn.com/_desktop-next/static/img/pdp_revamp_v2/icons-add.svg" alt="add-icon" width="20" height="20">
                       </button>
                    </div>
                </div>
                <div class="Book__info-btnCart">
                    <span>Chọn Mua</span>
                </div>
            </div>
        </div>
        <div class="Book__info-About">
            <h3>Thông Tin Sản Phẩm:</h3>
            <span>
                “Súng, vi trùng và thép: Định mệnh của các xã hội loài người” là cuốn sách khoa học phổ thông thứ hai và nổi tiếng nhất của Jared Diamond, được xuất bản lần đầu trên thế giới vào năm 1997.

                Cuốn sách đã trở thành cuốn sách bán chạy nhất trên thế giới thời điểm đó, được dịch ra 33 thứ tiếng và nhận được nhiều giải thưởng, trong đó có một giải Pulitzer, một giải thưởng Sách Khoa học Aventis và giải thưởng Khoa học Phi Beta Kappa năm 1997. Một bộ phim tài liệu truyền hình nhiều tập dựa trên cuốn sách đã được Hiệp hội Địa lý Quốc gia sản xuất vào năm 2005.
    
                Đến nay, "Súng, vi trùng và thép" đã bán được hàng triệu bản và vẫn được xem là một công trình nền tảng về địa lý liên ngành, toàn diện và đột phá.
    
                Yuval Harari đã lấy cảm hứng từ chính cuốn sách này của Jared Diamond để sáng tác ra một cuốn sách nổi tiếng không kém: “Sapiens: Lược sử về loài người”. Colin Renfrew – Thành viên Quốc hội Vương quốc Liên hiệp Anh và Bắc Ireland nhận xét: “Diamond đã viết nên một tác phẩm với tầm tri thức đặc biệt xuất sắc. Đây là một trong những công trình quan trọng nhất và đáng đọc nhất về loài người”.
    
                Nhân dịp tác phẩm nhận được Giải A Sách Quốc gia 2021, chúng tôi tái bản bìa mới, chỉnh sửa một số lỗi và đặc biệt là có bổ sung thêm index. Các đường vân trên bìa biểu trưng cho dòng chảy thời gian, dòng chảy văn minh của nhân loại, đồng thời kết nối quá khứ với hiện tại.
    
                Nội dung cuốn sách giải thích vì sao các nền văn minh Á – Âu (bao gồm cả Bắc Phi) lại tồn tại được, cũng như đã chinh phục các nền văn minh khác, cùng lúc ông bác bỏ các lý thuyết về sự thống trị của các nền văn minh Á –Âu dựa trên trí tuệ, đạo đức hay ưu thế di truyền. Jared Diamond lập luận rằng, sự khác biệt về quyền lực và công nghệ giữa các xã hội loài người có nguồn gốc từ sự khác biệt về môi trường, trong đó sự khác biệt này được khuếch đại không ngừng. Qua đó, ông giải thích tại sao Tây Âu, chứ không phải các nền văn minh khác trong thế giới Á – Âu như Trung Quốc, lại trở thành các thế lực thống trị.
    
                Mục đích của cuốn sách này là cung cấp một lược sử về tất cả mọi người trong khoảng 13.000 năm trở lại đây. Câu hỏi đã khiến tôi viết ra cuốn sách này là: tại sao lịch sử đã diễn ra trên mỗi châu lục một khác? Nếu như câu hỏi này lập tức khiến bạn nhún vai cho rằng bạn sắp phải đọc một luận văn phân biệt chủng tộc thì, xin thưa, không phải vậy. Như bạn sẽ thấy, những lời đáp cho câu hỏi này tuyệt không bao hàm những sự khác biệt về chủng tộc. Cuốn sách này tập trung truy tìm những lý giải tối hậu và đẩy lùi chuỗi nhân quả lịch sử càng xa bao nhiêu càng tốt bấy nhiêu.
    
                Tuy cuốn sách này nói cho cùng là về lịch sử và tiền sử, song chủ đề của nó không chỉ có giá trị hàn lâm mà còn có tầm quan trọng to lớn về thực tiễn và chính trị. Lịch sử những tương tác giữa các dân tộc khác nhau chính là cái đã định hình thế giới hiện đại thông qua sự chinh phục, bệnh truyền nhiễm và diệt chủng. Các xung đột đó tạo ra những ảnh hưởng lâu dài mà sau nhiều thế kỷ vẫn chưa thôi tác động, vẫn đang tích cực tiếp diễn ở một số khu vực nhiều vấn đề nhất của thế giới ngày nay.
            </span>
        </div>
    </div>
</div>
