#carousel{
    margin: 0 auto;
    width: 70%;
    height: 300px;
    margin-top: 25px;
    box-shadow: 0 0 5px 0 black;
    border-radius: 1rem;
}
.carousel-inner{
    width: 100%;
    border-radius: 1rem;
}
.carousel-item img{
    width: 100%;
    height: 300px;
    object-fit: fill;
}

@media screen and (max-width:412px) {
    #carousel{
        width: 95%;
        height: fit-content;
    }
    .carousel-item img{
        object-fit: inherit;
        height: auto;
    }
}