<mat-toolbar class="toolbar">
    <div class="toolbar__right">
      <button mat-icon-button aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="toolbar-brand" style="font-family: 'Akaya Telivigala', cursive;">
        <mat-icon class="Logo_icon">bookmark_border</mat-icon>MBook
      </span>
    </div>
    <span class="spacer"></span>
    <div class="toobar__left">
      <button mat-icon-button class="btn__cart">
        <mat-icon matBadge="0" matBadgeColor="warn">add_shopping_cart</mat-icon>
      </button>
      <a mat-stroked-button class="btn_signin" href="">Đăng Nhập</a>
      <a mat-flat-button class="btn_signup" href="">Đăng Ký</a>
    </div>
  
  </mat-toolbar>